<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'styles.css') }}">
    <!--<script  rel="stylesheet" type="text/css" src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>    <meta charset="UTF-8">-->>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid text-center bg custom-fond">
        <div class="row text-danger">
            <div class="col-5 custom-fond"> 
                <a href = "{{ url_for('sommaire') }}"><button class="btn bg custom-button btn-grand">
                    Retour
                </button></a>
            </div>
            <div class="col-2"> 
                <h1><u><b>Parties en cours</b></u></h1>
            </div>
            <div class="col-5 custom-color">        
                <img src="{{ url_for('static', filename='Logo-Tanuki_bleu_ciel.png') }}" class="logo logo-Tenuki" alt="Logo de l'association" id="logo">
            </div>
        </div>
    </div>
    <form method="POST" action="/" id="myForm">
        <button class="btn bg custom-button btn-grand" type="submit" id="start-button" name="psw1" value="0" {% if disabled_button == 'start-button' %}disabled{% endif %}>Démarrer l'enregistrement de la partie</class=>
        <button class="btn bg custom-button btn-grand" type="submit" id="stop-button" name="psw1" value="1" {% if disabled_button == 'stop-button' %}disabled{% endif %}>Stop Camera</button>
    </form>
    
    <form method="post" action="/start" >
        <button class="btn bg custom-button btn-grand" type="submit" >Commencer la partie</button>
    </form>

    <form method="POST" action="/game" id="move">
        <button class="btn bg custom-button btn-petit" type="submit" id="start-button4" name="psw2" value="2" {% if disabled_buttono == 'stop-button' %}disabled{% endif %}>   premier</button>     
        <button class="btn bg custom-button btn-petit" type="submit" id="start-button1" name="psw2" value="3" {% if disabled_buttono == 'stop-button' %}disabled{% endif %}>   precedent</button>     
        <button class="btn bg custom-button btn-petit" type="submit" id="start-button2" name="psw2" value="4" {% if disabled_buttono == 'stop-button' %}disabled{% endif %}>   suivant</button>     
        <button class="btn bg custom-button btn-petit" type="submit" id="start-button3" name="psw2" value="5" {% if disabled_buttono == 'stop-button' %}disabled{% endif %}>   dernier</button>     
        
    </form>
    
    <form method="POST" action="/rules" id="check">
        <input type="checkbox" id="rules" name="psw3" value="6" {% if check == 'True' %}checked{% endif %} >
        <label for="rules">Appliquer le module des règles</label>
    </form>

    <form method="POST" action="/change_place" id="change">
        <label for="input1">Champ 1 :</label>
        <input type="text" id="input1" name="input1" placeholder="Entrez l'ancien emplacement de la pièce">

        <br>

        <label for="input2">Champ 2 :</label>
        <input type="text" id="input2" name="input2" placeholder="Entrez le nouveau emplacement de la pièce">

        <br>

        <button type="submit">Soumettre le changement</button>
    </form>

    <button onclick="downloadFile()">Télécharger le fichier</button>

    <h1>Upload de fichier texte</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file" accept=".sgf">
        <input type="submit" value="Uploader">
    </form>
    
    <script>
        function downloadFile() {
            // Requête AJAX pour obtenir le contenu du fichier depuis le serveur
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/save_sgf', true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Créer un blob avec le contenu du fichier
                    var blob = new Blob([xhr.responseText], { type: 'text/plain' });
                    
                    // Utiliser FileSaver.js pour télécharger le fichier
                    saveAs(blob, 'nom_du_fichier.sgf');
                }
            };
            xhr.send();
        }
    </script>

    <script>
        document.getElementById('rules').addEventListener('change', function() {
            if (this.checked) {
                document.getElementById('check').submit();
            }
        });
    </script>

    
  
    <style>
        #video-container, #image {
            float: left;
            width: 30%; /* Chaque div prend la moitié de la largeur */
            box-sizing: border-box; /* Inclut la bordure et le padding dans la largeur */
            margin-right: 10px; /* Ajustez la marge selon vos besoins */
        }

        #camera-feed, #image img {
            width: 100%; /* Les images occupent la largeur complète de leur parent */
            height: auto; /* Maintient le ratio d'aspect original */
        }

        #message {
            clear: both; /* Empêche les éléments suivants de flotter à gauche ou à droite des div flottantes */
            margin-top: 10px; /* Ajoute de l'espace entre le message et les div précédentes */
        }
    </style>
    <div id="video-container">
        <img id="camera-feed" src="{{ url_for('video_feed') }}" alt="Camera Feed">
    </div>
    <div id="image">
        <img id="image" src="" alt="Image">
    </div>
    <div id="message">
        {{ message }}
    </div>


    <script>
        function updateMessage() {
            $.get('/update', function(data) {
                // Mettre à jour le contenu de #message avec le nouveau message
                $('#message').text(data.message);
                $('#image img').attr('src', 'data:image/jpeg;base64,' + data.image);
                
            });
        }
    
        // Mettre à jour le message toutes les 3 secondes (ajustez selon vos besoins)
        setInterval(updateMessage, 3000);
    </script>
    
    
    <!-- 

        <script src="{{ url_for('static',filename = 'script.js') }}"></script>
    -->



   

  
</body>
</html>

